.no-risk {
	background-color: #60ea8e;
}

.risk-of-underachievement {
	background-color: #f7fc9c;
}

.serious-risk-of-underachievement {
	background-color: #fcd388;
}

.extreme-risk {
	background-color: #fcb09f;
}

.severe-risk-of-extreme-risk {
	background-color: #fcc09f;
}



