{{!
Parent Progress View, a module for Moodle to allow the viewing of documents and pupil data by authorised parents.
    Copyright (C) 2016-17 Test Valley School.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or 
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a href="{{ link_documents_page }}" class="nav-link">
			{{# str }}documentsfeaturename, report_parentprogressview{{/ str }}
		</a>
	</li>
	<li class="active nav-item">
		<a href="{{ link_achievement_page }}" class="nav-link active">
			{{# str }}achievementfeaturename, report_parentprogressview{{/ str }}
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ link_behaviour_page }}" class="nav-link">
			{{# str }}behaviourfeaturename, report_parentprogressview{{/ str }}
		</a>
	</li>
	<li class="nav-item">
		<a href="{{ link_attendance_page }}" class="nav-link">
			{{# str }}attendancefeaturename, report_parentprogressview{{/ str }}
		</a>
	</li>
</ul>

<p style="text-align:center;"><span class="fa-2x fa-star" style="font-size:2.7em;"></span></p>
<p>{{ featurehelp }}</p>


{{# achievements_by_pupil }}
	<h3>{{ user.firstname }} {{ user.lastname }}</h3>

	<h5>{{# str }}achievementotalsheader, report_parentprogressview {{/ str }}</h5>
	<div class="statistics">
		<aside class="statistic">
			<p>{{# str }}achievementpointslabel, report_parentprogressview{{/ str }}</p>
			<h4 class="counter">{{ total_achievement_points }}</h4>
		</aside>
		<aside class="statistic">
			<p>{{# str }}behaviourpointslabel, report_parentprogressview{{/ str }}</p>
			<h4 class="counter">{{ total_behaviour_points }}</h4>
		</aside>

	</div>

	<h5>{{# str }}achievementitemsheader, report_parentprogressview{{/ str }}</h5>
	{{{ table }}}

{{/ achievements_by_pupil }}

{{^ achievements_by_pupil }}
	<div class="alert alert-info">
	<p>{{# str }}noattachedpupils, report_parentprogressview{{/ str }}</p>
	</div>
{{/ achievements_by_pupil }}


<aside class="show-documents-published-form">{{{ daterange_form }}}</aside>
<br/>
<br/>
