{{=<% %>=}}
<div>
	<ion-list>
		<%# documents_by_pupil %>
		<ion-list-header>
			<p class="item-heading"><% user.firstname %> <% user.lastname %></p>
		</ion-list-header>
		<%# documents %>
		<ion-item detail tappable class="report_parentprogressview_document_item" data-documentid="<% id %>" (click)="documentItemClick(<% id %>)">
				Report <% id %> for <% user.firstname %>
		</ion-item>
		<%/ documents %>
		<ion-item-divider></ion-item-divider>
		<%/ documents_by_pupil %>

	</ion-list>
</div>
