{{=<% %>=}}
<div>
	<ion-list>
		<%# documents_by_pupil %>
		<div class="pupil" data-pupil="<% user.id %>">
		<ion-list-header>
			<p class="item-heading"><% user.firstname %> <% user.lastname %></p>
		</ion-list-header>
		<ion-segment>
			<ion-segment-button class="segment-button segment-activated" value="documents" (click)="triggerDocumentsView(<% user.id %>)">
				{{ 'plugin.report_parentprogressview.documentsfeaturename' | translate }}
			</ion-segment-button>
			<ion-segment-button value="achievement" (click)="triggerAchievementView(<% user.id %>)">
				{{ 'plugin.report_parentprogressview.achievementfeaturename' | translate }}
			</ion-segment-button>
			<ion-segment-button value="behaviour" (click)="triggerBehaviourView(<% user.id %>)">
				{{ 'plugin.report_parentprogressview.behaviourfeaturename' | translate }}
			</ion-segment-button>
			<ion-segment-button value="attendance" (click)="triggerAttendanceView(<% user.id %>)">
				{{ 'plugin.report_parentprogressview.attendancefeaturename' | translate }}
			</ion-segment-button>
		</ion-segment>
		<div>
			<ion-item-divider></ion-item-divider>
			<ion-list class="documents-list" data-pupil="<% user.id %>">
				<%# documents %>
				<ion-item detail tappable class="report_parentprogressview_document_item" data-documentid="<% id %>" (click)="documentItemClick(<% id %>)">
					<ion-label>
						<% user.firstname %> <% user.lastname %>: <em><% date_published_userdate %></em>
					</ion-label>
				</ion-item>
				<%/ documents %>
				<%^ documents %>
				<ion-item>
					{{ 'plugin.report_parentprogressview.nodocumentstoview' | translate }}
				</ion-item>
				<%/ documents %>
			<ion-item-divider></ion-item-divider>
			</ion-list>
			<ion-list class="achievement" data-pupil="<% user.id %>" style="display:none;">
				<ion-item>
						<ion-grid>
							<ion-row>
								<ion-col>
									<ion-card>
										<ion-card-header>
											{{ 'plugin.report_parentprogressview.achievementpointslabel' | translate }}
										</ion-card-header>
										<ion-card-content>
											<h1><% achievements.total_achievement_points %></h1>
										</ion-card-content>
									</ion-card>
								</ion-col>
								<ion-col>
									<ion-card>
										<ion-card-header>
											{{ 'plugin.report_parentprogressview.behaviourpointslabel' | translate }}
										</ion-card-header>
										<ion-card-content>
											<h1><% achievements.total_behaviour_points %></h1>
										</ion-card-content>
									</ion-card>
								</ion-col>
							</ion-row>

						</ion-grid>
				</ion-item>
				<ion-item>
						<ion-list>
							<ion-list-header>
								{{ 'plugin.report_parentprogressview.achievementitemsheader' | translate }}
							</ion-list-header>
							<ion-item>
								<%={{ }}=%>
								{{{ achievements.ion_grid }}}
								{{=<% %>=}}
							</ion-item>
						</ion-list>
				</ion-item>
			</ion-list>
			<ion-list class="behaviour" data-pupil="<% user.id %>" style="display:none;">
				<ion-item>
						<ion-grid>
							<ion-row>
								<ion-col>
									<ion-card>
										<ion-card-header>
											{{ 'plugin.report_parentprogressview.achievementpointslabel' | translate }}
										</ion-card-header>
										<ion-card-content>
											<h1><% achievements.total_achievement_points %></h1>
										</ion-card-content>
									</ion-card>
								</ion-col>
								<ion-col>
									<ion-card>
										<ion-card-header>
											{{ 'plugin.report_parentprogressview.behaviourpointslabel' | translate }}
										</ion-card-header>
										<ion-card-content>
											<h1><% achievements.total_behaviour_points %></h1>
										</ion-card-content>
									</ion-card>
								</ion-col>
							</ion-row>

						</ion-grid>
				</ion-item>
				<ion-item>
						<ion-list>
							<ion-list-header>
								{{ 'plugin.report_parentprogressview.behaviourpointslabel' | translate }}
							</ion-list-header>
							<ion-item>
								<%={{ }}=%>
								{{{ behaviour.ion_grid }}}
								{{=<% %>=}}
							</ion-item>
						</ion-list>
				</ion-item>

			</ion-list>
			<ion-list class="attendance" data-pupil="<% user.id %>" style="display:none;">
				<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col>
							<ion-card data-value="<% attendance.pcnt_present %>" class="attendance-colour-coded-card <% attendance.pcnt_present_class %>">
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntpresent' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_present %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<ion-card>
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntauthorisedabsences' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_authorised_absences %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<ion-card>
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntunauthorisedabsences' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_unauthorised_absences %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<ion-card>
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntunexplainedabsences' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_unexplained_absences %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<ion-card>
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntlatebeforereg' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_late_before_reg %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
						<ion-col>
							<ion-card>
								<ion-card-header>
									{{ 'plugin.report_parentprogressview.pcntlateafterreg' | translate }}
								</ion-card-header>
								<ion-card-content>
									<h1><% attendance.pcnt_late_after_reg %></h1>
								</ion-card-content>
							</ion-card>
						</ion-col>
					</ion-row>
					<ion-row>
											</ion-row>
				</ion-grid>
				<ion-list>
						<ion-list-header>
							{{ 'plugin.report_parentprogressview.attendancemarkstableheading' | translate }}
						</ion-list-header>
						<ion-item>
							<%={{ }}=%>
							{{{ attendance.ion_grid }}}
							{{=<% %>=}}
						</ion-item>
				</ion-list>
				</ion-item>
				
			</ion-list>
		</div>

		</div>
		<%/ documents_by_pupil %>
	</ion-list>


</div>
